h1, h2, h3, h4, h5, h6,p{
  font-family: 'Roboto', 'sans-serif';
  margin:50px 0;

}

li, a{
  color:white;
}

h1{
font-family: 'Open sans', 'sans-serif';
font-weight: 800;
font-size:60px;
letter-spacing: 1px;
  color:white;
}

p{
color:gray;
}

h2{
font-weight: 500;
font-size: 40px;
  color:white;
}

body{
background: #1E1E1E;
}

.cover{
height:100vh;
}

#tracklist_chen{
margin-top:5px ; 
padding: 15px 0px ; 

}

/* #tracklist_chen li {
padding: 1px 0px ; 

} */

.divitem {
display: inline-block;
}

.image{
  
margin: 0 10px;
margin-bottom:60px;
}

.divitem li {
list-style-type: none;
}

/* .listitem */
.displayinline{
display:inline-block ;
margin: 0 10px
}

.Onelistitem{
width: 320px
}

.artistimage{
  display:inline-block ;
}

.songname{
    display:inline-block ;
}

.valence{
  background-color: #F09141
}

.energy{
  background-color: #BE4774
}

.danceability{
  background-color: #6E288B
}

.containerchart{
  width: 100%;
  background-color: #1E1E1E;
}

.features{
  color:white
}